* {
    margin: 0;
    padding: 0;
}
.product-item{
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: center;
}
.btn-cart{
    background-color: gray;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}
h3{
    font-size: 20px;
    margin: 20px;

}
p{
    font-size: 20px;
    margin: 20px;

}
img{
    width: 150px;
    height: 100px;
}
.by-btn{
    background-color: gray;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}